<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bodies</key>
	<array>
		<dict>
			<key>name</key>
			<string>myCircleBody</string>
			<key>position</key>
			<string>{160,240}</string>
			<key>moment</key>
			<integer>1</integer>
			<key>mass</key>
			<integer>1</integer>
			<key>shapes</key>
			<array>
				<dict>
					<key>name</key>
					<string>myCircle</string>
					<key>type</key>
					<string>circle</string>
					<key>friction</key>
					<real>0.7</real>
					<key>elasticity</key>
					<integer>1</integer>
					<key>sensor</key>
					<false/>
					<key>radius</key>
					<integer>15</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>myRectBody</string>
			<key>position</key>
			<string>{80,200}</string>
			<key>moment</key>
			<integer>1</integer>
			<key>mass</key>
			<integer>1</integer>
			<key>shapes</key>
			<array>
				<dict>
					<key>name</key>
					<string>myRect</string>
					<key>type</key>
					<string>rectangle</string>
					<key>friction</key>
					<real>0.7</real>
					<key>elasticity</key>
					<integer>1</integer>
					<key>sensor</key>
					<false/>
					<key>width</key>
					<integer>15</integer>
					<key>height</key>
					<integer>15</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>myPolyBody</string>
			<key>position</key>
			<string>{160,240}</string>
			<key>moment</key>
			<integer>1</integer>
			<key>mass</key>
			<integer>1</integer>
			<key>shapes</key>
			<array>
				<dict>
					<key>name</key>
					<string>myPolygon</string>
					<key>type</key>
					<string>polygon</string>
					<key>friction</key>
					<real>0.7</real>
					<key>elasticity</key>
					<integer>1</integer>
					<key>sensor</key>
					<false/>
					<key>vertices</key>
					<array>
						<string>{ -25.00000,25.00000 }</string>
						<string>{ 25.00000,25.00000 }</string>
						<string>{ 25.00000,-25.00000 }</string>
						<string>{ -25.00000,-25.00000 }</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>constraints</key>
	<array>
		<dict>
			<key>name</key>
			<string>myPinJoint</string>
			<key>type</key>
			<string>pin_joint</string>
			<key>fromBody</key>
			<string>myCircleBody</string>
			<key>toBody</key>
			<string>myRectBody</string>
			<key>anchor1</key>
			<string>{15,0}</string>
			<key>anchor2</key>
			<string>{-15,0}</string>
		</dict>
	</array>
</dict>
</plist>
